[Unit]
Description=etcd
Documentation=https://github.com/coreos/etcd
After=network.target

[Service]
User=root
Type=simple
ExecStartPre=-/usr/bin/docker kill etcd
ExecStartPre=-/usr/bin/docker rm etcd
ExecStartPre=/usr/bin/docker pull {{ ETCD_REGISTRY }}:v{{ ETCD_VERSION }}
ExecStart=/usr/bin/docker run \
    --name etcd \
    --network host \
    --mount type=bind,source=/var/lib/etcd,destination=/etcd-data \
    --mount type=bind,source=/etc/cfssl,destination=/etc/ssl \
    {{ ETCD_REGISTRY }}:v{{ ETCD_VERSION }} \
    /usr/local/bin/etcd \
    --name {{ ansible_hostname }} \
    --data-dir=/etcd-data \
    --listen-client-urls https://{{ LOCAL_IPV4 }}:2379,https://127.0.0.1:2379 \
    --advertise-client-urls https://{{ LOCAL_IPV4 }}:2379 \
    --listen-peer-urls https://{{ LOCAL_IPV4 }}:2380 \
    --initial-advertise-peer-urls https://{{ LOCAL_IPV4 }}:2380 \
    --initial-cluster-token etcd-cluster-1 \
    --initial-cluster {% for host in groups['etcd'] %}
{{ hostvars[host]['ansible_hostname'] }}=https://{{ host }}:2380 {%- if not loop.last %},{% endif %}
{% endfor %} \
    --initial-cluster-state new \
    --client-cert-auth --trusted-ca-file=/etc/ssl/ca.pem \
    --cert-file=/etc/ssl/client.pem --key-file=/etc/ssl/client-key.pem \
    --peer-client-cert-auth --peer-trusted-ca-file=/etc/ssl/ca.pem \
    --peer-cert-file=/etc/ssl/peer.pem --peer-key-file=/etc/ssl/peer-key.pem
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target

# --initial-cluster {{ ansible_hostname }}=https://{{ LOCAL_IPV4 }}:2380 \

