[Unit]
Description=CFSSL PKI Certificate Authority
After=network.target

[Service]
User=root
ExecStart=/root/go/bin/multirootca \
            -a 0.0.0.0:8443 \
            -l default \
            -roots multiroot-profile.ini \
            -tls-cert server.pem \
            -tls-key server-key.pem
Restart=on-failure
Type=simple
WorkingDirectory=/etc/cfssl

[Install]
WantedBy=multi-user.target
